body {
    font-family: Monospased;
    background-color: White; 
}

span {
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    padding: 4px;
    margin: 1px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
    font-size: 20px;
}

textarea {
   font-size: 20pt;
   font-family: Arial;
} 

span.slash{
    width: 60px;
}

span.enter{
    width: 95px;
}

span.lshift{
    width: 90px;
}

span.rshift{
    width: 120px;
}

span.tab {
    width: 60px;
}

span.ctrl{
    width: 60px;
}

span.space{
    width: 270px;
}

span.alt{
    width: 60px;
}

span.caps{
    width: 70px;
}

p {
    margin: 2px;
}

div{
    border-width: 1px;
    border-style: solid;
    border-color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

